.GroupByUser {
  display: flex;
  height: min-content;
  padding: 20px;
}

.user-column {
  flex: 1;
  margin: 10px;
}

.user-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 17vw;
}

.user-group-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-group-right {
  transform: scale(0.8);
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.user-name {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
}

.ticket-count {
  font-size: 13px;
  color: #888;
  padding-left: 10px;
}
