.GroupByStatus {
  display: flex;
  height: min-content;
  padding: 20px;
}

.status-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.status-group-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status-group-right {
  transform: scale(0.8);
}

.status-number-of-tickets {
  padding-left: 8px;
  font-size: 13px;
  color: #a6a7a9;
}

.status-text {
  font-size: 13px;
  font-weight: 500;
}

.status-icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transform: scale(1.1);
}
.status-column {
  flex: 1;
  margin: 10px;
}

.card-status-icon {
  margin-right: 0px !important;
}
