.card {
  width: 300px;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 15px;
  padding-top: 0px !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  flex-direction: row !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px red solid; */
}

.profile-container {
  display: flex;
  /* border: 1px green solid; */
  align-items: center;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.availability-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 0.5px solid black;
}

.availability-indicator.available {
  background-color: orange;
}

.availability-indicator.not-available {
  background-color: rgb(221, 221, 221);
}

.initials {
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  /* border: red 1px solid; */
}

.status-icon {
  margin-right: 10px;
  /* border: 1px green solid; */
}

/* Add this style if needed to ensure the icon is aligned at the top */
.status-icon svg {
  vertical-align: top;
}
