/* NavbarButon.css */
.NavbarButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  width: 200px;
  align-items: flex-start;
}

.NavbarButton-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.NavbarButton-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}

.NavbarButton-column p {
  font-weight: 500;
  color: #a6a7a9;
}

.NavbarButton-dropdown-button {
  background: none;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.NavbarButton-arrow {
  margin-left: 5px;
  border: solid black;
  display: inline-block;
}

.NavbarButton-arrowDropdown-icon {
  transform: scale(0.8) !important;
}

.NavbarButton-dropdown {
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  font-size: 12px;
}

.NavbarButton-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.NavbarButton-dropdown li:hover {
  background-color: #e9ecef;
}
