.GroupByPriority {
  display: flex;
  background-color: #f5f5f9;
  height: 90vh;
  padding: 20px;
}

.priority-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.priority-group-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.priority-group-right {
  transform: scale(0.7);
}

.priority-number-of-tickets {
  padding-left: 8px;
  font-size: 13px;
  color: #a6a7a9;
}

.priority-text {
  font-size: 13px;
  font-weight: 500;
}

.priority-icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transform: scale(0.7);
}

.priority-column {
  flex: 1;
  margin: 10px;
}

.card-status-icon {
  margin-right: 0px !important;
}
